.container_table_buttons{
    background-color: #f2f2f2;
    display: flex;
}

.array_of_delete_buttons{
    padding-top: 26px;
}

.table{
    width: 65%;;
}

#person_table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
}

tr{
    border: 1px solid #ddd;
}

th {
    text-align: left;
    background-color: #4CAF50;
    color: white;
}